{% load static %}
<!DOCTYPE html>
<html lang="{{ site_language.language.code }}">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% if page_translation.meta_title %}
            {{ page_translation.meta_title }}
        {% else %}
            {{ page_translation.title }}
        {% endif %}
    </title>

    {% if page_translation.meta_description %}
        <meta
            name="description"
            content="{{ page_translation.meta_description }}"
        >
    {% endif %}

    <link
        rel="stylesheet"
        href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/holzerprompt.css' %}"
    >
</head>

<body>

    {% for item in blocks %}

        {% with block=item.block block_translation=item.translation media_translation=item.media_translation %}

            {% if block.block_type == "hero" %}
                {% include "website/blocks/hero.html" %}
            {% elif block.block_type == "rich_text" %}
                {% include "website/blocks/rich_text.html" %}
            {% else %}
                <p>
                    Blocktyp „{{ block.block_type }}“ ist noch nicht implementiert.
                </p>
            {% endif %}

        {% endwith %}

    {% endfor %}

    <script
        src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>

</body>
</html>