{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1"
    >

    <title>
        {% if page.meta_title %}
            {{ page.meta_title }}
        {% else %}
            {{ page.title }}
        {% endif %}
    </title>

    {% if page.meta_description %}
        <meta
            name="description"
            content="{{ page.meta_description }}"
        >
    {% endif %}

    <link
        rel="stylesheet"
        href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    >

    <link
        rel="stylesheet"
        href="{% static 'css/holzerprompt.css' %}"
    >
</head>

<body>

    {% for block in page.blocks.all %}

        {% if block.is_active %}

            {% if block.block_type == "hero" %}
                {% include "website/blocks/hero.html" %}
            {% else %}
                <p>
                    Blocktyp „{{ block.block_type }}“ ist noch nicht implementiert.
                </p>
            {% endif %}

        {% endif %}

    {% endfor %}

    <script
        src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>

</body>
</html>